:root {
  --cor-primaria: #ee2211;
  --cor-primaria-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto: #000000;
  --subtitulo: rgba(0, 0, 0, 0.2);
  --onda: url("/responsivo/img/onda-clara.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo-1: #111111;
    --fundo-2: #000000;
    --texto: #ffffff;
    --subtitulo: rgba(255, 255, 255, 0.2);
    --onda: url("/responsivo/img/onda-escura.svg");
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--fundo-1);
  display: grid;
  justify-content: center;
  color: var(--texto);
}

header {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.375rem;
  gap: 4rem;
  justify-content: center;
  color: var(--texto);
  padding: 1.25rem;
}

nav a {
  background: var(--fundo-2);
  padding: 1.25rem 2.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: var(--texto);
  border: 0.125rem solid var(--fundo-2);
}

nav a:hover {
  border-color: var(--cor-primaria);
  transition: all 0.3s ease;
}

.vermais {
  background: var(--cor-primaria);
  padding: 0.9375rem 2.5rem;
  border: 0.125rem solid var(--cor-primaria);
  border-radius: 0.25rem;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

.vermais:hover {
  background: #900;
  border-color: var(--cor-primaria);
  color: var(--cor-primaria);
  transition: all 0.3s ease;
}

p {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
  max-height: 31, 25rem;
  position: relative;
  z-index: 0;
  background-position: cover;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
  margin-top: 0rem;
}

.introducao {
  background: var(--fundo-2);
  text-align: right;
  padding: 1.25rem;
  align-content: center;
  display: grid;
  justify-items: end;
  position: relative;
}

.introducao::after {
  content: "";
  display: inline-block;
  width: 3.75rem;
  height: 0.25rem;
  background: var(--cor-primaria);
  position: absolute;
  z-index: 1;
  right: -1.85rem;
  top: 2rem;
}

.introducao-cover img {
  object-fit: cover;
  height: 100%;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--subtitulo);
  text-align: right;
  padding: 30px;
  align-self: center;
  background-image: var(--onda);
  word-break: break-all;
}

.vantagens {
  background: var(--fundo-2);
  padding: 2, 5rem;
}

.vantagens-itens {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  align-items: center;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-right: 3rem;
  padding: 0.2rem;
}
.vantagens-itens p {
  grid-column: 2;
}

section ul {
  list-style: none;
}

section li:nth-child(odd) {
  background: var(--fundo-1);
  margin-right: 3rem;
}

section li:hover {
  border-left: 0.3125rem solid var(--cor-primaria);
  position: relative;
}

footer {
  background: var(--fundo-2);
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  margin-top: 4rem;
}

@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }
  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 600px) {
  body {
    gap: 30px;
    margin-top: 20px;
  }
  .header {
    gap: 100px;
  }
  .conteudo {
    grid-template-columns: 1fr;
  }
  .introducao {
    text-align: left;
    justify-items: start;
  }
  .introducao::after {
    display: none;
  }
  .subtitulo {
    font-size: 3rem;
  }
}
