:root {
--fundo
}

h1 {
  font-size: var(--font-grande);
  color: var(--cor-primaria);
}

p {
  --roxo: #222;
  font-size: calc(var(--font-grande) / 2);
  margin-top: var(--font-grande);
  color: var(--cor-primaria);
  border: var(--borda);
}
